<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zafu.edu.cn.atlasdemo" >
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <!-- TODO replace above two with next line after Android 4.2 -->
    <!-- <uses-feature android:name="android.hardware.camera.any"/> -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen" />
    <!-- TODO make this not required again after android.hardware.camera.any is available -->


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="cn.edu.zafu.atlasdemo.BootApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.edu.zafu.atlasdemo.BootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.edu.zafu.atlasdemo.MainActivity"
            >
        </activity>
        <activity
            android:name="com.lizhangqu.test.MainActivity"
            >
        </activity>

        <activity
            android:name="com.lizhangqu.zxing.android.CaptureActivity"
            >
        </activity>
        <activity
            android:name="com.lizhangqu.fragment.MainActivity"
            >
        </activity>


        <activity
            android:name="cn.edu.zafu.component.MainActivity"
          >
        </activity>
        <service
            android:name="cn.edu.zafu.component.ComponentService"
            android:exported="false">
        </service>
        <receiver android:name="cn.edu.zafu.component.ComponentBroadcast">
            <intent-filter>
                <action
                    android:name="cn.edu.zafu.component"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="cn.edu.zafu.atlasdemo.provider.ComponentProviderBridge"
            android:authorities="cn.edu.zafu.component.ComponentContentProvider"/>
    </application>

</manifest>
